*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
-A INPUT -i lo -j ACCEPT
-A INPUT -p icmp -j ACCEPT
-A INPUT -p tcp --dport 22 -j ACCEPT

{% if firewall is defined %}
{% for rule in firewall %}
{{rule}}
{% endfor %}
{% endif %}

-A INPUT -j DROP
-A FORWARD -j DROP
COMMIT

